<!-- <div *ngFor="let item of products">
  <span> {{item.name}}</span>
  <button = "">Add</button>
</div> -->


<h2>Please select </h2>
<table border = 1>
  <tr>
      <span>Apple</span>
      <button (click)="plusApple()"> Add</button>
  </tr>

  <!-- <tr>
    <span>Orange</span>
    <button (click)="add1Orange(1)"> Add</button>
  </tr> -->
</table>


<br><br>
<!-- <div>
  <p *ngIf="countApple > 0"> Quantity Apple: {{countApple}} </p>
</div>
<div>
  <p *ngIf="countOrange > 0"> Quantity Orange: {{countOrange}} </p>
</div> -->


<h4>Apple Qty from Parent: {{childappleCount}}</h4>
